html {
    font-family: sans-serif;
}

body {
    background-color: #7a7a7a;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
}

*, *::after, *::before {
    box-sizing: inherit;
}

/* HEADER */

.navbar {
    background-color: aliceblue;
    max-width: 640px;
    margin: 20px auto 10px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    border-radius: 10px;
    align-items: center;
}

.navbar__brand {
    background-color: aqua;
    margin-right: auto;
    
}

/* .navbar__logo {
    
} */

.navbar__navigation {
    background-color: aquamarine;
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar__navigation a {
    color: #2b4c7e;
    text-decoration: none;
}

.navbar__navigation a:hover {
    color: black;
    text-decoration: none;
}

.navbar__navigation-item {
    margin-left: 30px;
}

/* MAIN */

.main {
    max-width: 640px;
    margin: 10px auto 50px auto;
    padding-left: 20px;
}

.main__championship {
    text-align: center;
}

.main__day_schedule {
    display: flex;
    flex-direction: column;
    max-width: 640px;
}

.main__day_schedule_match {
    margin-left: 20px;
    border-top: 20px;
    display: grid;
    grid-template-columns: 100px 30px 100px 60px;
    align-items: center;
}

.main__day_schedule_match:hover {
    background-color: #4a374d;
}

.main__day_schedule_match:active {
    background-color: #b167bd;
}

.main__day_schedule_match_home {
    text-align: right;
}

.main__day_schedule_match_x {
    text-align: center;
}

#match-time {
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.651);
}

/* Footer */

.footer {
    background-color: #4a374d;
    color: #a8b6bf;
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    border-top: 3px solid black;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer a:hover {
    color: white;
}

.footer__content {
    max-width: 640px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
}

.footer__content > * {
    display: flex;
    flex-direction: column;
}

.footer__item {
    margin-bottom: 5px;
}


/* TEAM PAGE */

.team_rundown td {
    padding: 0px 5px;
}

.team_rundown td:nth-child(1) {
    text-align: right;
}

.team_home_away_stats {
    display: flex;
    max-width: 640px;
    /* justify-content: space-between; */
}

.stats_column {
    width: 50%;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
}

.team_stats_items {
    display: flex;
    flex-direction: column;
}