<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataFut</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <header class="navbar">
        <div class="navbar__brand">
            <img class="navbar__logo" src="#" alt="DataFut Logo" />
            <span>DataFut</span>
        </div>
        <ul class="navbar__navigation">
            <li class="navbar__navigation-item"><a href="#" class="navbar__link">Campeonato Brasileiro</a></li>
        </ul>
    </header>

    <main class="main">
        <h2 class="main__championship">Brasileirão</h2>

        <section class="main__day_schedule">
            <h3>Data: xx/xx/xxxx</h3>
            {% for match in matches %}
                <!-- <a href="match_1.html"> -->
                    <div class="main__day_schedule_match">
                        <a class="main__day_schedule_match_home" href="teams/{{ match['mandante']|lower }}.html">
                            {{ match["mandante"] }}
                        </a>
                        <span class="main__day_schedule_match_x">x</span>
                        <a href="teams/{{ match['visitante']|lower }}.html">
                            <span class="main__day_schedule_match_away">{{ match["visitante"] }}</span>
                        </a>
                        <span class="main__day_schedule_match_time"><time id="match-time">({{ match["hora"] }})</time></span>
                    </div>
                <!-- </a> -->
            {% endfor %}
    </main>
    
    <footer class="footer">
        <div class="footer__content">
            <section class="footer__column">
                <a href="#" class="footer__item">Created by Eudijuno Scarcela</a>
                <a href="#" class="footer__item">Github</a>
            </section>
            <section class="footer__column">
                <a href="#" class="footer__item">Instagram</a>
                <a href="#" class="footer__item">Home</a>
            </section>
        </div>
    </footer>
    
</body>
</html>