<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataBet</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>

    <header class="navbar">
        <div class="navbar__brand">
            <img class="navbar__logo" src="#" alt="DataBet Logo" />
            <span>DataBet</span>
        </div>
        <ul class="navbar__navigation">
            <li class="navbar__navigation-item"><a href="#" class="navbar__link">Campeonato Brasileiro</a></li>
        </ul>
    </header>

    <main class="main">

        <h1 class="main__championship">{{ team_name }}</h1>
        <section>
            {{ team_rundown }}
        </section>
        <hr>
        <section class="team_home_away_stats">
            <div class="stats_column">
                <h3>Geral</h3>
                <div class="team_stats_items">
                    {% for stat, value in team_stats.items() %}
                        <span>{{ stat }} : {{ value }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="stats_column">
                <h3>Mandante/Visitante</h3>
            </div>
        </section>

    </main>
    
    <footer class="footer">
        <div class="footer__content">
            <section class="footer__column">
                <a href="#" class="footer__item">Created by Eudijuno Scarcela</a>
                <a href="#" class="footer__item">Github</a>
            </section>
            <section class="footer__column">
                <a href="#" class="footer__item">Instagram</a>
                <a href="#" class="footer__item">Home</a>
            </section>
        </div>
    </footer>
    
</body>
</html>